.login-box{
    background-color: pink;
    border: 2px solid black;
    width: 200px;
    margin-left:1200px;
    margin-top: 100px;

}
body {  /*Mặc định, mọi trình duyệt (Chrome, Firefox, Edge…) đều tự động thêm margin 8px cho thẻ . */
    margin: 0;
    padding: 0;
}

.nut{
    background-color:blue;
    color:black;
    margin-left: 80px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
.bli{
    text-align: center;
    color: rgb(255, 94, 0);
}
ul {
    display: flex;
    list-style-type: none;
    background-color: black;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    gap: 20px; /* khoảng cách giữa các mục */
}


a{
    text-decoration: none;
    color: white;
    
   
}
img{
    float: right;
    margin-right: 350px;
}

